<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="product.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>After School Hub</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <h1> After School Hub </h1>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button>Search</button>
            </div>
            <div class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <div class="mainDiv">
        <div class="sortDiv">
            <div class="filteringDiv">
                <p style="text-align: center;">FITLER</p>
                <p style="font-weight: bold">Sort By</p>
                <label>

                    <input type="radio" value="subject" v-model="filtering">Subject
                    <br>
                    <input type="radio" value="location" v-model="filtering">Location
                    <br>
                    <input type="radio" value="available slots" v-model="filtering">Available Slots
                    <br>
                    <input type="radio" value="fees" v-model="filtering">Fees
                    
                </label>
                <label>
                    <p style="font-weight: bold">Sort Order</p>
                    <input type="radio" value="ascending" v-model="filterOrder">Ascending
                    <br>
                    <input type="radio" value="descending" v-model="filterOrder">Desending
                </label>
            </div>
        </div>

</html>